table{
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
width:70%;
table-layout: fixed;

}

table,td,th,tr {
    border:1px solid black;
}
th, td{
    padding:6px;
    text-align: center;
}
td:hover{
    background-color: black;
    color: #fff;
}
tr:nth-child(odd){
    background-color: #848484;
    color:#fff;
}
tr:nth-child(even){
    background-color: #fff;
}